@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@900&display=swap');

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fontStyle: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
}

/* STOP THE SCROLLING */
/* .scrollable-place {
  height: 1000px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
} */
/* ======================== */

header {
  /* background-color: white; */
  font-family: Poppins, sans-serif;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b1a1a;
  opacity: 0.9;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px; */
  gap: 5px;
}

.navigation > div > a {
  color: rgb(255, 255, 255);
  font-size: 2em;
  /* font-size: 25px; */
  font-weight: 700;
}
.navigation div > a > em {
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 3px;
  font-style: normal;
  padding-inline: 5px;
}

.navigation ul li {
  /* float: ; */
  display: inline-block;
  /* display: block; */
  margin-right: 0.8rem;
}

.navigation ul li:last-child a {
  background-color: orangered;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

.navigation ul li:last-child a:hover {
  /* color: rgb(225, 255, 57); */
  background-color: rgba(255, 145, 0, 0.842);
  color: rgb(255, 255, 255);
  border-radius: 0em 0.5em 0em 0.5em;
}

.navigation ul li a {
  color: white;
  font-weight: 600;
}

.navigation ul li a:hover {
  color: orangered;
}

.menu-icon {
  /* display: inline-block; */
  display: none;
  position: relative;
}

.menu-divs {
  cursor: pointer;
  display: flex;
  padding: 2px 0px 8px 0px;
  flex-flow: column wrap;
  width: 40px;
  /* align-items: center; */
  justify-content: center;
  height: 40px;
  gap: 3px;
}

.menu-divs div {
  display: flex;
  flex: 0 6px;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(255, 255, 255);
  margin: 0px 1px;
  border-radius: 1em;
}

.menu-items .menu-divs:hover div:first-child {
  background-color: orangered;
  /* transform: rotate(-30deg); */
  transform: translateY(15px) rotate(30deg);
  transition: ease-in 0.5s;
}

.menu-items .menu-divs:hover div:nth-child(2) {
  opacity: 0;
  transition: ease-in 0.2s;
}

.menu-items .menu-divs:hover div:last-child {
  background-color: rgb(0, 8, 255);
  transform: rotate(150deg);
  /* margin-bottom:3px; */
  transition: ease-in 0.5s;
}
/* 
.menu-items .menu-icon .menu-divs:hover {
  padding-bottom: 10px;
} */

/*CLOSE ITEMS CLASS ========================================= */
.close-menu .menu-divs div:first-child {
  background-color: orangered;
  /* transform: rotate(-30deg); */
  transform: translateY(15px) rotate(36deg);
  transition: ease-in 0.5s;
}

.close-menu .menu-divs div:nth-child(2) {
  opacity: 0;
  transition: ease-in 0.2s;
}

.close-menu .menu-divs div:last-child {
  background-color: rgb(0, 8, 255);
  transform: rotate(-30deg);
  /* margin-bottom:3px; */
  transition: ease-in 0.5s;
}
/* HOVER ======================================= */

.close-menu .menu-divs:hover div:first-child {
  /* background-color: black; */
  background-color: white;
  /* transform: rotate(-30deg); */
  transform: translateY(0px) rotate(0deg);
  transition: ease-in 0.5s;
}

.close-menu .menu-divs:hover div:nth-child(2) {
  opacity: 1;
  transition: ease-in 0.5s;
}

.close-menu .menu-divs:hover div:last-child {
  /* background-color: rgb(0, 0, 0); */
  background-color: white;
  transform: rotate(0deg);
  /* margin-bottom:3px; */
  transition: ease-in 0.5s;
}

/* DIV MAIN-BANNER====================================== */
.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  /* height: auto; */
  /* height: 100vh; */
}
.bg-video {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-text {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  /* color: white; */
  color: rgb(19, 241, 22);
  text-align: center;
  position: absolute;
  /* gap: 8px; */
  display: flex;
  flex-flow: column wrap;
  /* font-size: 5em; */
  font-weight: 900;
  justify-content: center;
  letter-spacing: 0.1em;
}

.header-text h6 {
  /* font-size: 2.7rem; */
  margin-bottom: 1.1em;
  font-size: 1.6em;
  font-weight: bolder;
}

.header-text h2 {
  /* letter-spacing: .1em; */
  font-size: 6em;
}

.member-link {
  margin-top: 1em;
  font-size: calc(1em - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-link a {
  border: none;
  font-weight: 400;
  color: white;
  border-radius: 1;
  background-color: orangered;
  padding: 0.5em;
}

.member-link a:hover {
  transition: ease-in 0.3s;
  background-image: radial-gradient(
    circle at right,
    orangered,
    rgb(116, 235, 18)
  );
}
.section {
  background-color: white;
  /* font-size: 3.5rem; */
  text-align: center;
}

.container {
  padding: 0px;
  text-transform: uppercase;
  color: rgb(23, 35, 36);
  font-family: var(--fontStyle);
  font-size: 13px;
  /* font-size: calc(var(--text_size) - 4.8rem); */
  /* font-style: normal; */
}

.container h2 {
  padding-top: 6em;
  font-size: 2em;
}
.container h2 > em {
  color: orangered;
  font-style: normal;
}

.container > p {
  color: #7a7a7a;
  /* font-size: calc(1em - 1.2px); */
  font-size: calc(1em);
  color: rgb(53, 64, 65);
  padding: 0rem 20em;
  line-height: 25px;
  margin-bottom: 10em;
}

.container > img {
  transform: rotate(90deg);
}

.courses-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* margin-left: 5px; */
  width: 100%;
  gap: 1em;
}

.course-item {
  margin-bottom: 5em;
}

.course {
  /* background-color: #7a7a7a; */
  display: flex;
  flex-flow: row wrap;
  border: none;
  border-radius: 1em;
}

.course .content {
  /* display: flex; */
  /* position: relative; */
  /* flex: 1; */
  /* padding: 8px; */
  /* height: 107px; */
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.course .content .png-image {
  margin-right: 1em;
  float: left;
  height: 100%;
  flex: 1;
  padding: 20px 28px;
  /* height: 100%; */
  /* background-color: orangered; */
  background-color: purple;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 0.3em;
}
.course .content img {
  /* padding: 1px; */
  /* background-color: rgb(255, 255, 255); */
  transform: rotate(-270deg);
  filter: brightness(5);
}

.content .description {
  display: flex;
  flex-flow: column wrap;
  /* height: 100%; */
  /* height: 100%; */
  padding: 0;
  text-align: left;
  gap: 1rem;
  justify-content: space-around;
  /* align-items: flex-end; */
  /* background-color: #7a7a7a; */
  /* padding: 0px 2em 0em 2em; */
  /* width: 50px; */
}

.container .description h4 {
  font-size: 1.5em;
  font-weight: 700;
}

.container .description p {
  display: flex;
  text-align: left;
  flex-shrink: 1;
  /* display: inline-flex; */
  font-size: 0.7em;
}

.container .description a {
  margin-top: auto;
  color: orangered;
}

.container .description a:hover {
  /* color: orange; */
  color: rgb(4, 14, 105);
}

footer {
  /* background-color: rgb(21, 139, 207); */
  /* background-image: linear-gradient(290deg, black, purple); */
  background-image: linear-gradient(220deg, orangered, purple);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

footer p {
  color: white;
  text-align: justify;
}
@media screen and (min-width: 280px) and (max-width: 720px) {
  header {
    display: block;
  }
  /* main{
    display: none;
  }

  body{
    background-color: #1b1a1a;
  } */

  .menu-items {
    display: flex;
    align-items: center;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
  }

  .menu-items .menu-icon {
    display: block;
  }

  .navigation {
    display: block;
  }
  /*
    When the display is block, th ul element will show up
  */
  .ul-el {
    display: none;
    /* display: block; */
    margin-top: 10px;
  }

  .show-menu {
    opacity: 1;
    height: 100vh;
    overflow: hidden;
  }

 

  .show-menu ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-betwee;
    height: 100vh;
    margin-top: 5em;
    width: 100%;
    gap: 5em;
    position: relative;
  }
  .show-menu ul li{
    position: relative;
  }

  /* .show-menu ul li:hover::before, */
  .show-menu ul li:hover::after {
    position: absolute;
    content: '';
    display: block;
    background-color: yellow;
    width: 100%;
    height: 1px;
  }

  .show-menu ul li:last-child:hover::after{
    /* position: absolute; */
    content: '';
    display: none;
    /* background-color: rgb(0, 60, 255); */
  }


  .navigation .ul-el li {
    /* font-size: 1.5em; */
    text-align: center;
    margin-bottom: 5px;
    display: block;
  }

  .navigation > div > a {
    font-size: 1.5em;
  }

  .header-text h6 {
    /* font-size: 2.7rem; */
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: bolder;
  }

  .header-text h2 {
    font-size: 1.5em;
  }


  .member-link a {
    font-size: 0.7em;
  }
  .container > p {
    /* margin: 0% 1rem; */
    padding: 0rem;
  }

  .content {
    margin-right: 1em;
    margin-left: 1em;
  }
}

/* 721px até 964px */
@media screen and (min-width: 721px) and (max-width: 964px) {
  .header-text h6 {
    font-size: 1em;
  }

  .header-text h2 {
    font-size: 3em;
  }

  .member-link a {
    font-size: 0.8em;
  }
}
